<!DOCTYPE html>
<html ng-app="calApp">
    
    <head>
        <title>Cultural team</title>
        
        <!-- Vendor JS files -->
        <script src="/vendor/angular.min.js"></script>
        
        <!-- App JS files -->
        <script src="js/main.js"></script>
        <script src="js/services.js"></script>
        <script src="js/controllers.js"></script>
    </head>
    
    <body>
        
        <div id="calendarBody" ng-controller="calCtrl">
            
            <div ng-repeat="month in appCal.currentYear.months" class="month">
                <h1>{{month.name}}</h1>
                <div class="days">{{month.days}}</div>
            </div>
            
            <div ng-repeat="month in appCal.nextYear.months" class="month">
                <h1>{{month.name}}</h1>
                <div class="days">{{month.days}}</div>
            </div>
            
        </div>

    </body>
    
</html>