h1
{
    text-align:center;
}

form
{
    width: 400px;
    margin: auto;
}

.left {
    height: 5%;
    display: inline-block;
}

.right {
    float: right;
    height: 3%;
    display: inline-block;   
}

input[type=checkbox]{
    height:20px;
    weight:20px;
}