h1
{
    text-align: center;
}

.right {
    float: right;
    display: block;
}

input[type=checkbox]{
    height: 20px;
    width: 20px;
}

input.ng-touched.ng-invalid{
    border: 1px solid red;
}

.errorMess{
    display: inline-block;
    color: red;
}

button{
    height: 30px;
    width: 80px;
    float: right;
}

form#application-form{
	width: 640px;
    margin: 0 auto;
}

form#application-form table tr{
	padding :10px;
}