h1
{
    text-align: center;
}

form
{
    width: 500px;
    margin: auto;
}

.left {
    height: 30px;
    padding: 10px;
    display: inline-block;
}

.right {
    float: right;
    height: 30px;
    width: 200px;
    display: inline-block;
}

input[type=checkbox]{
    height:20px;
    width:20px;
}

input.ng-touched.ng-invalid{
    border: 1px solid red;
}

.errorMess{
    display: inline-block;
    color: red;
}

.row{
    display: block;
    height: 50px;
}

button{
    height: 30px;
    width: 80px;
    float: right;
}