<html>
	<head>
		<title>Biodata</title>
		<!--vendors-->
		<script src = "/vendor/angular.min.js" ></script>
		<script src = "/vendor/firebase.js" ></script>
		<!--js files-->
		<script src = "js/main.js" ></script>
		<script src = "js/controllers.js" ></script>
		<script src = "js/services.js" ></script>
		
		<link href = "/css/bootstrap.css" style = "text/css" rel ="stylesheet">
		<link href = "css/style.css" style = "text/css" rel ="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	</head>
	
	<body class="container">
		<div ng-app = "bioApp">
			<div ng-controller= "bioCtrl">
				<h1>Biodata</h1>
				<table id = "selection-table" class = "table table-striped">
					<tr>
						<th>Index</th>
						<th>Name</th>
						<th>Register No</th>
						<th>Religion</th>
					</tr>
					<tr ng-repeat = "(applicantKey,value) in applicantList" >
						
						<td>{{ $index+1 }}</td>
						<td>{{ applicantList[applicantKey].name }}</td>
						<td>{{ applicantList[applicantKey].regNo }}</td>
						<td>{{ applicantList[applicantKey].religion }}</td>
						<td>
							<button class="btn btn-primary" ng-click="allotBtn( applicantKey, applicantList[applicantKey] )">
								{{ applicantList[applicantKey].alloted }}
							</button>
							<button class="btn btn-primary" data-toggle="modal" data-target='#{{ applicantKey }}'>Preview</button>
						</td>
					</tr>
				</table>
				
				<!-- Modal -->
				<div ng-repeat = "(applicantKey,value) in applicantList" >
					<div class="modal fade" id="{{ applicantKey }}" role="dialog">
						<div class="modal-dialog">

							<!-- Modal content-->
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h4 class="modal-title">Biodata</h4>
								</div>
								<div class="modal-body">
										<table class="table table-striped">
					<!--tr>
						<td>
							<label  class="control-label"> Photo</label>
						</td>
						<td>
							<input class="form-control" type="file" required>
						</td>
					</tr-->
					<tr>
						<td>
							<label  class = "control-label"> Student Name</label>
						</td>
						<td>
							<p>{{ applicantList[applicantKey].name }}</p>
						</td>
					</tr>
					
					<tr>
						<td>
							<label  class = "control-label"> Register No</label>
						</td>
						<td>
							<p>{{ applicantList[applicantKey].regNo }}</p>
						</td>
					</tr>
					
					<tr>
						<td>
							<label  class = "control-label"> Semester</label>
						</td>
						<td>
							<p>{{ applicantList[applicantKey].semester }}</p>
						</td>
					</tr>
					
					<tr>
						<td>
							<label  class = "control-label"> Year of Entry to Hostel</label>
						</td>
						<td>
							<p>{{ applicantList[applicantKey].year }}</p>
						</td>
					</tr>
					
					<tr>
						<td>
							<label  class = "control-label"> Religion</label>
						</td>
						<td>
							<p>{{ applicantList[applicantKey].religion }}</p>
						</td>
					</tr>
					
					<tr>
						<td>
							<label  class = "control-label"> Caste</label>
						</td>
						<td>
							<p>{{ applicantList[applicantKey].caste }}</p>
						</td>
					</tr>
					<tr>
						<td>
							<label  class = "control-label"> Blood Group</label>
						</td>
						<td>
							<p>{{ applicantList[applicantKey].bloodGroup }}</p>
						</td>
					</tr>	
					<tr>
						<td>
							<label  class = "control-label"> Mobile No</label>
						</td>
						<td>
							<p>{{ applicantList[applicantKey].mobileNo }}</p>
						</td>
					</tr>	
					<tr>
						<td>
							<label  class = "control-label"> Date of Birth</label>
						</td>
						<td>
							<p>{{ applicantList[applicantKey].dob }}</p>
						</td>
					</tr>	
					<tr>
						<td>
							<label  class = "control-label"> Email</label>
						</td>
						<td>
							<p>{{ applicantList[applicantKey].email }}</p>
						</td>
					</tr>
				</table>
								</div>
								<div class="modal-footer">
									<button class="btn btn-primary" ng-click="allotBtn( applicantKey, applicantList[applicantKey] )">
								{{ applicantList[applicantKey].alloted }}
							</button>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>